body{
    margin:0;
    padding:0;
    text-align: center;
    margin-top:75px;
    background:aliceblue;
}
#non{
    word-wrap: break-word;
}
#div{
    background:linear-gradient(to right, lightgreen, lightblue);
    position: fixed;
    width:100%;
    top:0;
    padding:10px;
}
#inner{
    color:blue;
    border:none;
    background: white;
    padding:10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#ninner{
    margin-left:-5px;
    padding:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:blue;
    background: cyan;
    border:none;
    cursor: pointer;
}
#ninner:hover{
    background:rgb(67, 67, 255);
    color:white;
}