body{
    margin:0;
    padding:0;
    text-align: center;
    margin-top:100px;
    background:aliceblue;
}
#non{
    word-wrap: break-word;
}
#div{
    position: fixed;
    width:100%;
    top:0;
    background:linear-gradient(to right, lightgreen, lightblue);
    padding:10px;
}
#inner{
    color:blue;
    margin-left:-20px;
    border:none;
    background: white;
    padding:10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#ninner{
    margin-left:-5px;
    padding:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:blue;
    background: cyan;
    border:none;
    cursor: pointer;
}
#ninner:hover{
    background:rgb(67, 67, 255);
    color:white;
}
#red{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:10px;
    border-radius: 50%;
    display:inline;
    background: red;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#blue{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:50px;
    border-radius: 50%;
    display:inline;
    background: blue;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#green{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:90px;
    border-radius: 50%;
    display:inline;
    background: green;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#maro{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:130px;
    border-radius: 50%;
    display:inline;
    background: brown;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#yellow{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:170px;
    border-radius: 50%;
    display:inline;
    background: yellow;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#pink{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:210px;
    border-radius: 50%;
    display:inline;
    background: pink;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#black{
    height:25px;
    width:25px;
    left:0;
    top:0;
    margin-left:250px;
    border-radius: 50%;
    display:inline;
    background: black;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#purple{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:10px;
    border-radius: 50%;
    display:inline;
    background: purple;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#grey{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:50px;
    border-radius: 50%;
    display:inline;
    background: grey;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#white{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:90px;
    border-radius: 50%;
    display:inline;
    background: white;
    border: 3px solid black;
    cursor: pointer;
    position:fixed;
}
#orange{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:130px;
    border-radius: 50%;
    display:inline;
    background: orange;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#beige{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:170px;
    border-radius: 50%;
    display:inline;
    background: beige;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#golden{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:210px;
    border-radius: 50%;
    display:inline;
    background: goldenrod;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#amethyst{
    height:25px;
    width:25px;
    right:0;
    top:0;
    margin-right:250px;
    border-radius: 50%;
    display:inline;
    background: rgb(59, 134, 156);
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
}
#non{
    vertical-align: middle;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
#lefts, #bacs{
    display: none;
}
@media screen (max-width: 800px) {
    #right{
        display:none;
    }
    #left{
        display: none;
    }
    #lefts, #bacs{
        display: inline;
        text-align: center;
    }
    #div{
        padding-bottom:115px;
    }
    #non{
        margin-top:180px;
        padding-left:15px;
        padding-right:15px;
    }
    #red, #maro, #green, #blue, #yellow, #pink, #black{
        top:7.5%;
    }
    #bacs{
        position:fixed;
        margin-left:-80px;
        background:white;
        color:blue;
        text-decoration: none;
        border-radius: 25px;
        padding:7.5px;
        margin-top:65px;
    }
    #bacs:hover{
        color:white;
        background:blue;
    }
  }